.menu {
    position: fixed;
    z-index: 999;

    top: 0px;
    width: 100%;
    padding-top: 80px; 

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    background: #061722;

    opacity: 0;
    max-width: 0;
    transition: .5s ease-in-out;
}

.menu.opened {
    max-width: 100%;
    opacity: 1;
}