.card {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 20px;

    .innerImage {
        display: block;
        position: absolute;
        width: 300px;
        height: 200px;
        transition: 1s ease-in-out;  
    }

    .cover {
        z-index: 2;
        position: absolute;
        height: 25%;
        width: 100%;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .8);
        transition: background-color .5s ease-in-out;

        .text {
            position: absolute;
            z-index: 1;
            bottom: 10px;
            left: 10px;

            color: white;
            font-weight: bold;
        }
    }

}

.card:hover {
    .innerImage {
        transform-origin: center;
        transform: scale(1.1);
    }
}

@media all and (max-width: 600px) {
    .card {
        margin-left: 0px;
        width: 100%;
        min-height: 200px;
        height: auto;

        .innerImage {
            width: 100%;
            height: auto;
        }
    }
    
}


@media all and (max-width: 400px) {
    .card {
        .innerImage {
            height: 100%;
            width: auto;
        }
    }
}